body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

.sidebar {
    background-color: beige;
    height: 100%;
    position: fixed !important;
    z-index: 1;
    overflow: auto;
    left: 0;
}

.bld {
    font-weight: bold;
}

.tuner-table {

}

.tuner-table td {
    padding-left: 10px;
    padding-bottom: 10px;
}

.tuner-string-button {
    width: 20px;
    display: inline-block;
    padding: 2px;
    border: 1px solid #999;
    text-align: center;
    vertical-align: center;
}

.tuner-string-button:not(first-of-type) {
    margin-left: 10px;
}